<mat-card class="example-card">
  <div class="banner-ch" [style.margin]="'1rem'">
    <img [style.max-height]="'150px'" [style.max-width]="'250px'" mat-card-image src="{{player?.img}}" class="" alt="Alt">
  </div>
  <mat-card-header>
    <h1 [style.margin-left]="'-1rem'">
      {{player?.name}}
    </h1>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab label="Biography">
        <p>
          {{player?.biography}}
        </p>
      </mat-tab>
      <mat-tab label="Newsletters">
        <app-newsletters [newsletters]="player?.newsletters"></app-newsletters>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>