<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" (closed)="events.push('close!')">
    <h3 matHeader>FAVORITES</h3>
    <mat-list>
      <h3 matSubheader><a routerLink="championships">CHAMPIONSHIPS</a></h3>
      <mat-list-item *ngFor="let item of championships">
        <img matListAvatar src="{{item.img}}" alt="...">
        <h4 matLine>
         <a routerLink="championships/{{item.id}}">{{item.name}}</a></h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      
      <h3 matSubheader><a routerLink="teams">TEAMS</a></h3>
      <mat-list-item *ngFor="let item of teams">
        <img matListAvatar src="{{item.icon}}" alt="...">
        <h4 matLine><a routerLink="teams/{{item.id}}">{{item.name}}</a></h4>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h3 matSubheader><a routerLink="players">PLAYERS</a></h3>
      <mat-list-item *ngFor="let item of players">
        <img matListAvatar src="{{item.icon}}" alt="...">
        <h4 matLine><a routerLink="players/{{item.id}}">{{item.name}}</a></h4>
      </mat-list-item>
    </mat-list>
    <br>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-button-toggle (click)="sidenav.toggle()">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
