
<table mat-table [dataSource]="standingTeams" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let team"> {{team.team.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="MP">
    <th mat-header-cell *matHeaderCellDef> MP </th>
    <td mat-cell *matCellDef="let team"> {{team.MP}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="GD">
    <th mat-header-cell *matHeaderCellDef> GD </th>
    <td mat-cell *matCellDef="let team"> {{team.GD}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let team"> {{team.points}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>